* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


/* 清除浮动 */

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}