* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body {
  background-color: #f3f5f7;
}
.head {
  height: 100px;
  width: 100%;
  background-color: #f3f5f7;
}
.head .nav {
  width: 1366px;
  margin: 0 auto;
  padding: 30px 0;
}
.head .nav .logo {
  float: left;
}
.head .nav .navbar {
  height: 42px;
  line-height: 42px;
  margin-left: 40px;
  float: left;
}
.head .nav .navbar ul li {
  display: inline-block;
}
.head .nav .navbar ul li :hover {
  border-bottom: 2px solid #00a4ff;
}
.head .nav .navbar ul li a {
  text-decoration: none;
  padding: 0 8px;
  font-size: 18px;
  color: black;
}
.head .nav .search {
  width: 410px;
  height: 38px;
  border: 1px solid #00a4ff;
  float: left;
  margin-left: 120px;
}
.head .nav .search input[type=text] {
  width: 340px;
  height: 38px;
  border: 0;
  padding-left: 20px;
  float: left;
}
.head .nav .search input[type=submit] {
  width: 50px;
  height: 38px;
  border: 0;
  background: #00a4ff url(../images/search.png) center center no-repeat;
  float: left;
  cursor: pointer;
}
.head .nav .login {
  width: 100px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  float: right;
  margin-right: 100px;
}
.head .nav .login a {
  color: black;
}
.head .nav .login a:hover {
  color: #00a4ff;
}
.banner-container {
  width: 100%;
  height: 420px;
  background-color: #1c036c;
}
.banner-container .banner {
  width: 1200px;
  margin: 0 auto;
}
.banner-container .banner .course {
  width: 192px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}
.banner-container .banner .course ul {
  height: 420px;
  width: 188px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-container .banner .course ul li {
  height: 42px;
  line-height: 42px;
  padding-left: 18px;
}
.banner-container .banner .course ul li a {
  color: #fff;
  font-size: 14px;
}
.banner-container .banner .course ul li span {
  display: block;
  float: right;
  padding-right: 16px;
}
.banner-container .banner .course ul li:hover a {
  color: #00a4ff;
}
.banner-container .banner .course .lunbotu {
  position: absolute;
}
.main {
  width: 1200px;
  margin: 0 auto;
}
.main .recommend {
  height: 62px;
  line-height: 62px;
  background-color: #fff;
  margin: 8px 0;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
}
.main .recommend ul li {
  float: left;
}
.main .recommend ul li a {
  color: black;
  padding: 0 30px;
  border-right: 2px solid #ccc;
}
.main .recommend ul li:first-child a,
.main .recommend ul li:hover a {
  color: #00a4ff;
}
.main .recommend ul li:last-child a {
  border: 0;
}
.main .recommend span {
  line-height: 62px;
  display: block;
  float: right;
  padding: 0 36px;
  color: #00a4ff;
  font-size: 14px;
  cursor: pointer;
}
.main .recoList .head-info {
  height: 40px;
  line-height: 40px;
}
.main .recoList .head-info span {
  display: inline-block;
}
.main .recoList .head-info span a {
  color: black;
}
.main .recoList .head-info span a:hover {
  color: #00a4ff;
}
.main .recoList .head-info span:first-child {
  font-size: 20px;
  float: left;
}
.main .recoList .head-info span:last-child {
  float: right;
  margin-right: 30px;
}
.main .recoList .List {
  float: left;
}
.main .recoList .List ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .recoList .List ul li {
  width: 228px;
  height: 270px;
  margin-bottom: 12px;
  overflow: hidden;
  float: left;
}
.main .recoList .List ul li a {
  display: block;
  background-color: #ffffff;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
}
.main .recoList .List ul li a h4,
.main .recoList .List ul li a p {
  padding: 10px 22px;
}
.main .recoList .List ul li a p span {
  color: #ff592d;
  font-size: 18px;
}
.main .coding .coding-head {
  float: left;
  width: 1200px;
}
.main .coding .coding-head ul {
  line-height: 40px;
}
.main .coding .coding-head ul li {
  float: left;
  margin-right: 70px;
}
.main .coding .coding-head ul li a {
  color: black;
}
.main .coding .coding-head ul li a:hover {
  color: #00a4ff;
}
.main .coding .coding-head ul li:first-child {
  font-size: 20px;
}
.main .coding .coding-head ul li:nth-child(2) {
  margin-left: 300px;
}
.main .coding .coding-head ul li:last-child {
  color: #1c036c;
  float: right;
  margin-right: 30px;
}
.main .coding .coding-main {
  float: left;
  width: 1200px;
}
.main .coding .coding-main .coding-left {
  width: 228px;
  height: 392px;
  background: url(../images/bianchengrumen.png);
  float: left;
}
.main .coding .coding-main .coding-left h4 {
  float: left;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  margin: 34px 30px 0 34px;
  color: #fff;
}
.main .coding .coding-main .coding-left h4:nth-child(2) {
  margin-top: 0;
}
.main .coding .coding-main .coding-left ul {
  float: left;
  margin: 20px 30px 0 34px;
}
.main .coding .coding-main .coding-left ul li {
  color: #fff;
  font-size: 14px;
  margin-top: 40px;
}
.main .coding .coding-main .coding-right-h {
  width: 957px;
  height: 100px;
  float: left;
  margin-left: 15px;
}
.main .coding .coding-main .coding-right-b {
  width: 957px;
  height: 270px;
  float: left;
  margin: 22px 0 0 15px;
}
.main .coding .coding-main .coding-right-b ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .coding .coding-main .coding-right-b ul li {
  width: 228px;
  height: 270px;
  margin-bottom: 12px;
  overflow: hidden;
  float: left;
}
.main .coding .coding-main .coding-right-b ul li a {
  display: block;
  background-color: #ffffff;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
}
.main .coding .coding-main .coding-right-b ul li a h4,
.main .coding .coding-main .coding-right-b ul li a p {
  padding: 10px 22px;
}
.main .coding .coding-main .coding-right-b ul li a p span {
  color: #ff592d;
  font-size: 18px;
}
.main .data .data-head {
  float: left;
  width: 1200px;
  margin-top: 20px;
}
.main .data .data-head ul {
  line-height: 40px;
}
.main .data .data-head ul li {
  float: left;
  margin-right: 70px;
}
.main .data .data-head ul li a {
  color: black;
}
.main .data .data-head ul li a:hover {
  color: #00a4ff;
}
.main .data .data-head ul li:first-child {
  font-size: 20px;
}
.main .data .data-head ul li:nth-child(2) {
  margin-left: 300px;
}
.main .data .data-head ul li:last-child {
  color: #1c036c;
  float: right;
  margin-right: 30px;
}
.main .data .data-main {
  float: left;
  width: 1200px;
}
.main .data .data-main .data-left {
  width: 228px;
  height: 392px;
  background: url(../images/shujufenxi.png);
  float: left;
}
.main .data .data-main .data-left h4 {
  float: left;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  margin: 34px 30px 0 34px;
  color: #fff;
}
.main .data .data-main .data-left h4:nth-child(2) {
  margin-top: 0;
}
.main .data .data-main .data-left ul {
  float: left;
  margin: 20px 30px 0 34px;
}
.main .data .data-main .data-left ul li {
  color: #fff;
  font-size: 14px;
  margin-top: 40px;
}
.main .data .data-main .data-right-h {
  width: 957px;
  height: 100px;
  float: left;
  margin-left: 15px;
}
.main .data .data-main .data-right-b {
  width: 957px;
  height: 270px;
  float: left;
  margin: 22px 0 0 15px;
}
.main .data .data-main .data-right-b ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .data .data-main .data-right-b ul li {
  width: 228px;
  height: 270px;
  margin-bottom: 12px;
  overflow: hidden;
  float: left;
}
.main .data .data-main .data-right-b ul li a {
  display: block;
  background-color: #ffffff;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
}
.main .data .data-main .data-right-b ul li a h4,
.main .data .data-main .data-right-b ul li a p {
  padding: 10px 22px;
}
.main .data .data-main .data-right-b ul li a p span {
  color: #ff592d;
  font-size: 18px;
}
.main .ml .ml-head {
  float: left;
  width: 1200px;
  margin-top: 20px;
}
.main .ml .ml-head ul {
  line-height: 40px;
}
.main .ml .ml-head ul li {
  float: left;
  margin-right: 70px;
}
.main .ml .ml-head ul li a {
  color: black;
}
.main .ml .ml-head ul li a:hover {
  color: #00a4ff;
}
.main .ml .ml-head ul li:first-child {
  font-size: 20px;
}
.main .ml .ml-head ul li:nth-child(2) {
  margin-left: 300px;
}
.main .ml .ml-head ul li:last-child {
  color: #1c036c;
  float: right;
  margin-right: 30px;
}
.main .ml .ml-main {
  width: 1200px;
  float: left;
}
.main .ml .ml-main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .ml .ml-main ul li {
  width: 228px;
  height: 270px;
  margin-bottom: 12px;
  overflow: hidden;
  float: left;
}
.main .ml .ml-main ul li a {
  display: block;
  background-color: #ffffff;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
}
.main .ml .ml-main ul li a h4,
.main .ml .ml-main ul li a p {
  padding: 10px 22px;
}
.main .ml .ml-main ul li a p span {
  color: #ff592d;
  font-size: 18px;
}
.main .front .front-head {
  float: left;
  width: 1200px;
}
.main .front .front-head ul {
  line-height: 40px;
}
.main .front .front-head ul li {
  float: left;
  margin-right: 70px;
}
.main .front .front-head ul li a {
  color: black;
}
.main .front .front-head ul li a:hover {
  color: #00a4ff;
}
.main .front .front-head ul li:first-child {
  font-size: 20px;
}
.main .front .front-head ul li:nth-child(2) {
  margin-left: 300px;
}
.main .front .front-head ul li:last-child {
  color: #1c036c;
  float: right;
  margin-right: 30px;
}
.main .front .front-main {
  width: 1200px;
  float: left;
}
.main .front .front-main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .front .front-main ul li {
  width: 228px;
  height: 270px;
  margin-bottom: 12px;
  overflow: hidden;
  float: left;
}
.main .front .front-main ul li a {
  display: block;
  background-color: #ffffff;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
}
.main .front .front-main ul li a h4,
.main .front .front-main ul li a p {
  padding: 10px 22px;
}
.main .front .front-main ul li a p span {
  color: #ff592d;
  font-size: 18px;
}
.main .teachers .teachers-head {
  width: 1200px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  float: left;
  color: black;
}
.main .teachers .teachers-main {
  width: 1200px;
  float: left;
}
.main .teachers .teachers-main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .teachers .teachers-main ul li {
  width: 228px;
  height: 320px;
  margin-bottom: 12px;
  overflow: hidden;
  float: left;
}
.footer {
  width: 100%;
  background-color: #ffffff;
  float: left;
}
.footer .footer-container {
  height: 273px;
  width: 1200px;
  margin: 32px auto;
}
.footer .footer-container .footer-left {
  width: 460px;
  float: left;
}
.footer .footer-container .footer-left img {
  margin-bottom: 26px;
}
.footer .footer-container .footer-left p {
  font-size: 12px;
  color: #666666;
}
.footer .footer-container .footer-left h4 {
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border: 1px solid #00a4ff;
  color: #00a4ff;
  margin-top: 16px;
}
.footer .footer-container .footer-right {
  float: left;
  margin-left: 220px;
}
.footer .footer-container .footer-right .about-us,
.footer .footer-container .footer-right .guide,
.footer .footer-container .footer-right .partner {
  float: left;
}
.footer .footer-container .footer-right .about-us h5,
.footer .footer-container .footer-right .guide h5,
.footer .footer-container .footer-right .partner h5 {
  font-size: 16px;
  color: #7d7d7d;
}
.footer .footer-container .footer-right .about-us a,
.footer .footer-container .footer-right .guide a,
.footer .footer-container .footer-right .partner a {
  font-size: 12px;
  color: #7d7d7d;
}
.footer .footer-container .footer-right .about-us a:hover,
.footer .footer-container .footer-right .guide a:hover,
.footer .footer-container .footer-right .partner a:hover {
  color: #00a4ff;
}
.footer .footer-container .footer-right .guide,
.footer .footer-container .footer-right .partner {
  margin-left: 100px;
}
