* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 清除浮动 */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
body {
  background-color: #f3f5f7;
}
.head {
  height: 100px;
  width: 100%;
  background-color: #f3f5f7;
}
.head .nav {
  width: 1366px;
  margin: 0 auto;
  padding: 30px 0;
}
.head .nav .logo {
  float: left;
}
.head .nav .navbar {
  height: 42px;
  line-height: 42px;
  margin-left: 40px;
  float: left;
}
.head .nav .navbar ul li {
  display: inline-block;
}
.head .nav .navbar ul li :hover {
  border-bottom: 2px solid #00a4ff;
}
.head .nav .navbar ul li a {
  text-decoration: none;
  padding: 0 8px;
  font-size: 18px;
  color: black;
}
.head .nav .search {
  width: 410px;
  height: 38px;
  border: 1px solid #00a4ff;
  float: left;
  margin-left: 120px;
}
.head .nav .search input[type=text] {
  width: 340px;
  height: 38px;
  border: 0;
  padding-left: 20px;
  float: left;
}
.head .nav .search input[type=submit] {
  width: 50px;
  height: 38px;
  border: 0;
  background: #00a4ff url(../images/search.png) center center no-repeat;
  float: left;
  cursor: pointer;
}
.head .nav .login {
  width: 100px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  float: right;
  margin-right: 100px;
}
.head .nav .login a {
  color: black;
}
.head .nav .login a:hover {
  color: #00a4ff;
}
.banner-container {
  width: 100%;
  height: 420px;
  background-color: #1c036c;
}
.banner-container .banner {
  width: 1200px;
  margin: 0 auto;
}
.banner-container .banner .course {
  width: 192px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}
.banner-container .banner .course ul {
  height: 420px;
  width: 188px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-container .banner .course ul li {
  height: 42px;
  line-height: 42px;
  padding-left: 18px;
}
.banner-container .banner .course ul li a {
  color: #fff;
  font-size: 14px;
}
.banner-container .banner .course ul li span {
  display: block;
  float: right;
  padding-right: 16px;
}
.banner-container .banner .course ul li:hover a {
  color: #00a4ff;
}
.banner-container .banner .course .lunbotu {
  position: absolute;
}
.main {
  width: 1200px;
  height: 900px;
  margin: 0 auto;
  background-color: pink;
}
.main .recommend {
  height: 62px;
  background-color: #fff;
  margin: 8px 0;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.1);
}
.main .recommend ul li {
  float: left;
  padding: 20px 36px;
}
.main .recommend ul li a {
  color: black;
}
.main .recommend ul li:first-child a,
.main .recommend ul li:hover a {
  color: #00a4ff;
}
.main .recommend span {
  line-height: 62px;
  display: block;
  float: right;
  padding: 0 36px;
  color: #00a4ff;
  font-size: 14px;
  cursor: pointer;
}
.footer {
  height: 273px;
  width: 100%;
  background-color: cyan;
}
