* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden; //隐藏横向滚动条
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* 清除浮动 */

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    background-color: #f3f5f7;
}

// 头部区域
.head {
    height: 100px;
    width: 100%;
    background-color: #f3f5f7;
    .nav {
        width: 1366px;
        margin: 0 auto;
        padding: 30px 0;
        .logo {
            float: left;
        }
        .navbar {
            height: 42px;
            line-height: 42px;
            margin-left: 40px;
            float: left;
            ul {
                li {
                    display: inline-block;
                    a {
                        text-decoration: none;
                        padding: 0 8px;
                        font-size: 18px;
                        color: black;
                    }
                }
                li:first-child {
                    border-bottom:2px solid #00a4ff;
                }
                li:hover {
                    border-bottom:2px solid #00a4ff;
                }
            }
        }
        .search {
            width: 410px;
            height: 38px;
            border: 1px solid #00a4ff;
            float: left;
            margin-left: 120px;
            input[type=text] {
                width: 340px;
                height: 38px;
                border: 0;
                padding-left: 20px;
                float: left;
            }
            input[type=submit] {
                width: 50px;
                height: 38px;
                border: 0;
                background:  #00a4ff url(../images/search.png) center center no-repeat;
                float: left;
                cursor: pointer;
            }
        }
        .login {
            width: 100px;
            height: 42px;
            line-height: 42px;
            font-size: 16px;
            text-align: center;
            float: right;
            margin-right: 100px;
            a {
                // text-decoration: none;
                color: black;
            }
            a:hover {
                color: #00a4ff;
            }
        }
    }
}
// banner区域
.banner-container {
    width: 100%;
    height: 420px;
    background-color: #1c036c;
    .banner {
        width: 1200px;
        margin: 0 auto;
        .course {
            // width: 192px;
            // height: 420px;
            // background-color: rgba(0,0,0,.3);
            position: relative;
            width: 1200px;
            height: 420px;
            .item {
                position: absolute;
            }
            .icon {
                width: 30px;
                height: 40px;
                line-height: 40px;
                background-color: rgba(0,0,0,.1);
                text-align: center;
                font-size: 30px;
                color: yellow;
                font-weight: bold;
                cursor: pointer;
                float: left;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                z-index: 999;
                opacity: 0;
            }
            
            .icon:hover {
                color: blue;
                opacity: 1;
            }
            
            #goPre {
                left: 0;
            }
            
            #goNext {
                right: 0;
            }
            /* 设置小圆点父盒子样式 */
            
            .pointList {
                width: 100px;
                height: 16px;
                position: absolute;
                right: 20px;
                bottom: 20px;
                /* margin-left: -50px; */
                z-index: 999;
            }
            /* 导航小圆点样式 */
            
            .point {
                width: 10px;
                height: 10px;
                background-color: rgba(201, 221, 24, 0.8);
                border-radius: 100%;
                float: left;
                margin-right: 10px;
                cursor: pointer;
            }
            .current {
                z-index: 66;
            }
            .active {
                background-color: rgba(240, 108, 20, 0.815);
            }

            .course-guide {
                height: 420px;
                width: 188px;
                position: absolute;
                background-color: rgba(0,0,0,.3);
                z-index: 99;
                // 让ul中的li垂直居中分布
                display: flex;
                flex-direction: column;
                justify-content: center;
                li {
                    height: 42px;
                    line-height: 42px;
                    padding-left: 18px;
                    a {
                        color: #fff;
                        font-size: 14px;
                    }
                    span {
                        display: block;
                        float:right;
                        padding-right: 16px;
                    }
                }
                li:hover {
                    a {
                        color: #00a4ff;
                    }
                }
            }
        }
    }
}
// 中间区域
.main {
    width: 1200px;
    // height: 900px;  // 删除
    margin: 0 auto;
    // background-color: pink;  // 删除
    .recommend {
        height: 62px;
        line-height: 62px;
        background-color: #fff;
        margin: 8px 0;
        box-shadow: -1px 3px 5px rgba(0,0,0,.1);
        ul {
            // line-height: 62px;
            li {
                float: left;
                // padding: 20px 36px;
                a {
                    color: black;
                    padding: 0 30px;
                    border-right: 2px solid #ccc;
                }
            }
            li:first-child,li:hover {
                a {
                    color: #00a4ff;
                } 
            }
            li:last-child {
                a {
                    border: 0;
                }
            }
        }
        span {
            line-height: 62px;
            display: block;
            float:right;
            padding: 0 36px;
            color: #00a4ff;
            font-size: 14px;
            cursor: pointer;
        }
    }
    // 精品推荐
    .recoList {
        .head-info {
            height: 40px; 
            line-height: 40px;
            // background-color: orange; // del
            span {
                display: inline-block;
                a {
                    color: black;
                }
                a:hover {
                    color: #00a4ff;
                }
            }
            span:first-child {
                font-size: 20px;
                float: left;
            }
            span:last-child {
                float: right;
                margin-right: 30px;
            }
        }
        .List {
            // height: 600px; // del
            // background-color: blue; //del
            float: left;
            
            ul {
                // 在li的父盒子上布局伸缩布局
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: 228px;
                    height: 270px;
                    margin-bottom: 12px;
                    // border: 1px solid black; // del
                    overflow: hidden;
                    float: left;
                    a {
                        display: block;
                        background-color: #ffffff;
                        box-shadow: -1px 3px 5px rgba(0,0,0,.1);
                        h4,p {
                            padding: 10px 22px;
                        }
                        p {
                            span {
                                color: #ff592d;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        
    }
    // 编程入门
    .coding {
        .coding-head {
            float: left;
            width: 1200px;
            // margin-top: 20px;
            ul {
                line-height: 40px;
                li {
                    float: left;
                    margin-right: 70px;
                    a {
                        color: black;
                    }
                    a:hover {
                        color: #00a4ff;
                    }
                }
                li:first-child {
                    font-size: 20px;
                }
                li:nth-child(2) {
                    margin-left: 300px;
                }
                li:last-child {
                    color: #1c036c;
                    float: right;
                    margin-right: 30px;
                }
            }
        }
        .coding-main {
            float: left;
            width: 1200px;
            // height: 600px;  // del
            .coding-left {
                width: 228px;
                height: 392px;
                background: url(../images/bianchengrumen.png);
                float: left;
                h4 {
                    float: left;
                    height: 38px;
                    line-height: 38px;
                    font-size: 18px;
                    margin: 34px 30px 0 34px;
                    // margin-left: 34px;
                    color: #fff;
                }
                h4:nth-child(2) {
                    margin-top: 0;
                }
                ul {
                    float: left;
                    margin: 20px 30px 0 34px;
                    li {
                        color: #fff;
                        font-size: 14px;
                        margin-top: 40px;
                    }
                }
            }
            .coding-right-h {
                width: 957px;
                height: 100px;
                float: left;
                margin-left: 15px;
            }
            .coding-right-b {
                width: 957px;
                height: 270px;
                // background-color: pink;
                float: left;
                margin: 22px 0 0 15px;
                ul {
                    // 在li的父盒子上布局伸缩布局
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li {
                        width: 228px;
                        height: 270px;
                        margin-bottom: 12px;
                        // border: 1px solid black; // del
                        overflow: hidden;
                        float: left;
                        a {
                            display: block;
                            background-color: #ffffff;
                            box-shadow: -1px 3px 5px rgba(0,0,0,.1);
                            h4,p {
                                padding: 10px 22px;
                            }
                            p {
                                span {
                                    color: #ff592d;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 数据分析
    .data {
        .data-head {
            float: left;
            width: 1200px;
            margin-top: 20px;
            ul {
                line-height: 40px;
                li {
                    float: left;
                    margin-right: 70px;
                    a {
                        color: black;
                    }
                    a:hover {
                        color: #00a4ff;
                    }
                }
                li:first-child {
                    font-size: 20px;
                }
                li:nth-child(2) {
                    margin-left: 300px;
                }
                li:last-child {
                    color: #1c036c;
                    float: right;
                    margin-right: 30px;
                }
            }
        }
        .data-main {
            float: left;
            width: 1200px;
            // height: 600px;  // del
            .data-left {
                width: 228px;
                height: 392px;
                background: url(../images/shujufenxi.png);
                float: left;
                h4 {
                    float: left;
                    height: 38px;
                    line-height: 38px;
                    font-size: 18px;
                    margin: 34px 30px 0 34px;
                    // margin-left: 34px;
                    color: #fff;
                }
                h4:nth-child(2) {
                    margin-top: 0;
                }
                ul {
                    float: left;
                    margin: 20px 30px 0 34px;
                    li {
                        color: #fff;
                        font-size: 14px;
                        margin-top: 40px;
                    }
                }
            }
            .data-right-h {
                width: 957px;
                height: 100px;
                float: left;
                margin-left: 15px;
            }
            .data-right-b {
                width: 957px;
                height: 270px;
                // background-color: pink;
                float: left;
                margin: 22px 0 0 15px;
                ul {
                    // 在li的父盒子上布局伸缩布局
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li {
                        width: 228px;
                        height: 270px;
                        margin-bottom: 12px;
                        // border: 1px solid black; // del
                        overflow: hidden;
                        float: left;
                        a {
                            display: block;
                            background-color: #ffffff;
                            box-shadow: -1px 3px 5px rgba(0,0,0,.1);
                            h4,p {
                                padding: 10px 22px;
                            }
                            p {
                                span {
                                    color: #ff592d;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 机器学习
    .ml {
        .ml-head {
            float: left;
            width: 1200px;
            margin-top: 20px;
            ul {
                line-height: 40px;
                li {
                    float: left;
                    margin-right: 70px;
                    a {
                        color: black;
                    }
                    a:hover {
                        color: #00a4ff;
                    }
                }
                li:first-child {
                    font-size: 20px;
                }
                li:nth-child(2) {
                    margin-left: 300px;
                }
                li:last-child {
                    color: #1c036c;
                    float: right;
                    margin-right: 30px;
                }
            }
        }
        .ml-main {
            width: 1200px;
            float: left;
            ul {
                // 在li的父盒子上布局伸缩布局
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: 228px;
                    height: 270px;
                    margin-bottom: 12px;
                    overflow: hidden;
                    float: left;
                    a {
                        display: block;
                        background-color: #ffffff;
                        box-shadow: -1px 3px 5px rgba(0,0,0,.1);
                        h4,p {
                            padding: 10px 22px;
                        }
                        p {
                            span {
                                color: #ff592d;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    // 前端开发
    .front {
        .front-head {
            float: left;
            width: 1200px;
            // margin-top: 20px;
            ul {
                line-height: 40px;
                li {
                    float: left;
                    margin-right: 70px;
                    a {
                        color: black;
                    }
                    a:hover {
                        color: #00a4ff;
                    }
                }
                li:first-child {
                    font-size: 20px;
                }
                li:nth-child(2) {
                    margin-left: 300px;
                }
                li:last-child {
                    color: #1c036c;
                    float: right;
                    margin-right: 30px;
                }
            }
        }
        .front-main {
            width: 1200px;
            float: left;
            ul {
                // 在li的父盒子上布局伸缩布局
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: 228px;
                    height: 270px;
                    margin-bottom: 12px;
                    overflow: hidden;
                    float: left;
                    a {
                        display: block;
                        background-color: #ffffff;
                        box-shadow: -1px 3px 5px rgba(0,0,0,.1);
                        h4,p {
                            padding: 10px 22px;
                        }
                        p {
                            span {
                                color: #ff592d;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    // 牛人推荐
    .teachers {
        .teachers-head {
            width: 1200px;
            height: 40px; 
            line-height: 40px;
            // background-color: orange; // del
            font-size: 20px;
            float: left;
            color: black;
        }
        .teachers-main {
            width: 1200px;
            float: left;
            ul {
                // 在li的父盒子上布局伸缩布局
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: 228px;
                    height: 320px;
                    margin-bottom: 12px;
                    // border: 1px solid black; // del
                    overflow: hidden;
                    float: left;
                    position: relative;
                    .number {
                        position: absolute;
                        top: 4px;
                        right: 4px;
                        width: 88px;
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        font-size: 8px;
                        background: url(../images/number.png) center center no-repeat;
                    }
                    .teacher-info {
                        width:228px;
                        height: 122px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        background-color: rgba(0,0,0,.4);
                        position: absolute;
                        top: 198px;
                        left: 0;
                        .title {
                            padding-left: 25px;
                            padding-top: 20px;
                            color: #fff;
                            h3 {
                                font-size: 18px;
                                float: left;
                                // background-color: blue;
                            }
                            p {
                                width: 100px;
                                // height: 23px;
                                line-height: 24px;
                                // background-color: pink;
                                font-size: 14px;
                                float: left;
                            }
                        }
                        p {
                            font-size: 12px;
                            color: #fff;
                            padding-left: 20px;
                            margin-top: 4px;
                            padding-right: 10px;
                            float: left;
                        }
                        
                    }
                }
                li:hover {
                    .teacher-info {
                        top:0;
                        height: 100%;
                    }
                }
            }
        }
        
    }
}

// 底部区域
.footer {
    width: 100%;
    height: 272px;
    background-color: #ffffff;
    float: left;
    .footer-container {
        width: 1200px;
        margin: 32px auto;
        .footer-left {
            // border: 1px solid black;
            width: 460px;
            float: left;
            img {
                margin-bottom: 26px;
            }
            p {
                font-size: 12px;
                color: #666666;
            }
            h4 {
                width: 120px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                border: 1px solid #00a4ff;
                color: #00a4ff;
                margin-top: 16px;
            }
        }
        .footer-right {
            float: left;
            margin-left: 220px;
            .about-us,.guide,.partner {
                float: left;
                h5 {
                    font-size: 16px;
                    color: #7d7d7d;
                }
                a {
                    font-size: 12px;
                    color: #7d7d7d
                }
                a:hover {
                    color: #00a4ff;
                }
            }
            .guide,.partner {
                margin-left: 100px;
            }
        }
    }
}
